
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,700;1,800&display=swap');


body{
    font-family: poppins !important;
}

.modal-body-content img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    display: block;
    margin: auto;
    border: 8px solid #ddd;
    border-radius: 50%;
}

.modal-body-content table > tbody {
    vertical-align: middle !important;
    text-align: center;
}
.modal-body-content table > thead {
    text-align: center;
}



/* .devs_item .devs-data h2{
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
} */